<div class="container">
    <form class="form__register">
        <div>
            <label for="username">Username</label>
            <input type="text" placeholder="nome de usuario" id="username">
        </div>
        <div>
            <label for="e-mail">E-mail</label>
            <input type="email" placeholder="seu email" id="e-mail"> 
        </div>
        <div>
            <label for="password">Password</label>
            <input type="password" placeholder="sua senha" id="password">
        </div>
        <div>
            <label for="confirmPass">Confirme sua senha</label>
            <input type="password" id="confirmPass" placeholder="sua senha novamente">
        </div>
        <button> Registrar </button>
    </form>
</div>
