<div class="container">
     <div class="div-img">
          <img src="imgs/user.png" alt="">
     </div>
    <form>
       <div>
            <label for="username">Username</label>
            <input type="text" placeholder="username">
       </div>
       <div>
            <label for="password">Password</label>
            <input type="password" placeholder="password" id="password">
       </div>
       <div class="link_recovery">
            <a href="#"> Esqueceu a senha ? </a>
       </div>
       <button>Login</button>
        <span>
            <p>Não tem uma conta ? <a href="/register"> Criar conta </a></p>
        </span>
    </form>
</div>